* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primaryColor: #801c21;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlue: rgb(27, 55, 90);
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainBlue);
  z-index: 10000;
  display: flex;
  height: 20vh;
  justify-content: space-between;
}

.logo {
  z-index: 1000;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 60px;
}

.logo h2 {
  color: var(--mainWhite);
  text-align: left;
  padding: 15px;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  list-style: none;
  margin-top: 25px;
}

.nav-links a:hover {
  text-decoration: underline;
  transition: all 0.5s ease;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--mainWhite);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.toggle .line1{
  transform: translateX(3px);
}

.toggle .line2{
  transform: translateX(5px);
}

.toggle .line3{
  transform: translateX(0px);
}

.hero {
  width: 100%;
}

.hero h2{
  position: absolute;
  top: 300px;
  right: 50px;
  text-align: left;
  color: var(--mainWhite);
  font-size: 3em;
  font-weight: bold;
}

.hero span {
  color: var(--mainBlue);
  font-weight: bolder;
  background: var(--mainWhite);
  border: none;
  padding: 5px 10px;
}

.hero img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
      position: absolute;
      width: 100%;
      background-color: var(--mainBlue);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-200%);
      transition: transform 0.5s ease-in-out;
      z-index: -1000;
      left: 0;
  }

  nav {
    height: 100px;
  }

  .logo h2 {
    display: none;
  }

  .burger {
      display: block;
      z-index: 1000;
      margin-top: 25px;
  }

  .hero .cover {
    height: 250px;
  }

  .hero h2{
    top: 150px;
    right: 60px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hero span {
    color: var(--mainBlue);
    font-weight: bolder;
    background: var(--mainWhite);
    border: none;
    padding: 5px 10px;
  }
}

.nav-active {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

/* about */
.about {
  padding: 5rem 0;
  text-align: center;
}

.about-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.about .fit-bg{
  width: 100%;
  border-radius: 10px;
}

.about .section-title{
  color: var(--mainBlack);
}

.about p {
  color: var(--mainWhite);
  text-align: left;
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  .about p {
    text-align: center;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 50px;
  height: 2px;
  background-color: var(--mainWhite);
  align-self: center;
  margin-bottom: 2.5em;
}

.line.expanded {
  width: 100px;
  transition: 0.8s all ease;
}

.title-text {
  margin-bottom: 0;
}

.title-text.expanded {
  color: black;
}

/* end of about */

.services {
  background: var(--mainBlue);
  padding: 5rem 0;
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.services img {
  max-width: 100%;
}

.services h5 {
  margin-bottom: 0;
  font-size: 1em;
}

.services p {
  font-size: 15px;
  padding: 10px 10px;
}

.button {
  background: var(--mainBlue);
  border: none;
  color: var(--mainWhite);
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.5em;
  text-decoration: none;
}

.services .button:hover {
  opacity: 0.9;
}

.card {
  width: 10em;
  height: 15em;
  padding: 15px 10px;
  color: black;
  text-align: center;
  font-size: 2em;
  border-radius: 10px;
  background: var(--mainWhite);
}

.review-card {
    max-width: 15em;
    padding: 15px 10px;
    color: black;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    background: var(--mainWhite);
    margin-bottom: 1em;
    display: flex;
}

.review-card p {
  font-size: 15px;
  text-align: left;
  padding: 5px;
  margin-left: 10px;
  color: gray;
}

.review-card span {
  font-size: 18px;
  color: black;
  line-height:initial;
}

.review-card img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.team {
  padding: 5rem 0;
  text-align: center;
}

.team-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  background: var(--mainGrey);
  padding: 60px 8px;
  border-radius: 20px;
}

.member {
  text-align: center;
  color: black;
  padding: 10px;
}

.member h6{
  margin-bottom: 0;
}

.member p {
  opacity: 0.8;
}

.member img {
  border-radius: 100%;
  width: 200px;
  padding: 10px;
}

.loading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.loading img {
  width: 200px;
}

.single {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.single-service {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.single-service-info {
  padding: 1.5rem;
}

.single-service-images img {
  width: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .single {
    padding: 1rem 1.5rem;
  }
  .single-service {
    flex-direction: column;
  }
  .single-service-images img {
    width: 300px;
  }
}

.btn-primary {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--mainWhite);
  text-decoration: none;
  padding: 10px 5px;
  color: black;
  width: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-secondary {
  background: var(--mainWhite);
  text-decoration: none;
  padding: 10px 5px;
  color: black;
  width: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  position: absolute;
  bottom: 100px;
  background: var(--mainWhite);
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-top: 5px;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact {
  padding: 0 1rem;
  text-align: center;
}

.contact-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.contact p {
  color: var(--mainWhite);
  text-align: left;
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  background-color: var(--mainWhite);
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 0;
  color: black;
}

@media screen and (max-width: 600px) {
  .contact p {
    text-align: center;
  }
  form {
    width: 90%;
    height: 100vw;
    margin: 20px 20px;
  }
}

form label {
  text-align: left;
}

.field-finish p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.field-name,
.field-email,
.field-message,
.field-finish {
  background: var(--mainBlue);
  height: 50px;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.field-name input,
.field-email input,
.field-message input {
  background: none;
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
  text-align: center;
  color: var(--mainWhite);
}

.field-message textarea {
  background: none;
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
  text-align: center;
  margin-top: 30px;
}

form .button {
  background: var(--mainBlue);
  color: var(--mainWhite);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 0.8em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 18vh;
  background: #fff;
}
.footer .sci {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.footer .sci li {
  list-style: none;
}

.footer .sci li a {
  text-decoration: none;
  margin: 0 10px;
}

.footer .sci li a img {
  color: black;
  max-width: 20px;
  margin-bottom: 10px;
  transform: scale(0.8);
}

.footer-text{ 
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #666;
  text-align: center;
}

.footer-text span {
  font-size: 15px;
}

.footer-text a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px){
  .footer{
      padding: 40px;
  }
  .footer .sci li a {
      max-width: 20px;
  }
}